/.vscode

# python
__pycache__
*.pyc
.env
.venv
env/

# node
node_modules
*.log
frontend/dist

# data
*.db
*.sqlite
backend/*.egg-info
backend/.venv
backend/.uv
backend/cache/
docker/backend_cache/
docker/garage_data/
garage.toml
