services:
  backend:
    build:
      context: ../
      dockerfile: docker/Dockerfile
      target: backend
    env_file:
      - ../backend/.env
    volumes:
      - ./backend_cache:/app/backend/cache
    ports:
      - "8020:8000"

  frontend:
    build:
      context: ../
      dockerfile: docker/Dockerfile
      target: frontend-nginx
    depends_on:
      - backend
    ports:
      - "8021:80"
