services:
  backend:
    build:
      context: ../
      dockerfile: docker/Dockerfile
      target: backend
    env_file:
      - .env
    volumes:
      - ./backend_cache:/app/backend/cache
      - ./backend_data/data.db:/app/backend/data.db

  frontend:
    build:
      context: ../
      dockerfile: docker/Dockerfile
      target: frontend-nginx
    depends_on:
      - backend
    ports:
      - "8021:80"
