services:
  garage:
    image: dxflrs/garage:v2.1.0
    environment:
      - RUST_LOG=info
    volumes:
      - ./garage_data:/var/lib/garage
      - ./garage.toml:/etc/garage.toml:ro

  backend:
    build:
      context: ../
      dockerfile: docker/Dockerfile
      target: backend
    env_file:
      - .env
    volumes:
      - ./backend_cache:/app/backend/cache
      - ./backend_data/data.db:/app/backend/data.db
    depends_on:
      - garage

  frontend:
    build:
      context: ../
      dockerfile: docker/Dockerfile
      target: frontend-nginx
    depends_on:
      - backend
    ports:
      - "8021:80"
